<!DOCTYPE html>
<html>
<head>
    <style>
        * {
            font-family: "Helvetica Neue", sans-serif;
            color: white;
        }

        body {
            background-color: black;
        }

        h1 {
            text-align: center;
            margin-top: 50px;
            font-size: 36px;
        }

        footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            text-align: center;
            font-size: 12px;
            padding: 10px;
        }
    </style>
</head>
<body>
<h1>Short not found</h1>
<footer>Created by <a href="https://github.com/fzbian">fzbian</a></footer>
</body>
</html>